@font-face {
  font-family: Uncracked;
  src: url("./Uncracked_Free_Trial.ttf");
}
@font-face {
  font-family: Ghostlike;
  src: url("./GhostlikeDemoRegular.ttf");
}
@font-face {
  font-family: Poppins;
  src: url("./FontsFree-Net-Poppins-Bold.ttf");
}

body {
  background-image: 
  url(
"Landing.svg");
background-repeat: no-repeat;
 background-size: cover;
 background-position: center;
 background-attachment: fixed;
 overflow: hidden;}
 
.wrapper{
display: flex;
justify-content: left;

}
.text{
  text-align: left;
  justify-content: left;
  margin-left: 100px;
  margin-top: 100px;
  color: white;
  height: 481px;
width: 1271px;
}.glitch{
  font-size: 230px;
  font-family: Uncracked;
  line-height: 12px;
  font-weight: lighter;
  
 
}.inthe{
  
  font-size: 60px;
  padding: 0;
  font-family: Poppins;
  line-height: 8px;
  margin-left: 10px;
  
}.matrix{
  font-size: 120px;
  padding: 0;
  font-family: Ghostlike;
  font-weight: lighter;
  line-height: 8px;
 
}.two{
  margin-top: -50px;
 
}

@media screen and (max-width:576px) {
  .glitch{
    font-size: 180px;

  }
  .text{
    margin-left: 65px;
  }
  .inthe{
    font-size: 40px;
  }
  .matrix{
    font-size: 115px;
  }.two{
    margin-top: -40px;
  }
}

@media screen and (max-width:360px) {
  .glitch{
    font-size: 130px;

  }
  .text{
    margin-left: 50px;
  }
  .inthe{
    font-size: 28px;
  }
  .matrix{
    font-size: 75px;
  }.two{
    margin-top: -40px;
  }
}

